@font-face {
    font-family: "Onest";
    src: url("fonts/Onest-Regular.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Onest";
    src: url("fonts/Onest-Regular.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
  font-family: "VKSansDisp";
  font-style: normal;
  font-weight: 400;
  src: local("VK"),
       url("/fonts/VK\ Sans\ Display\ Expanded\ Bold.woff2") format("woff2"),
}


*{
    margin: 0;
    padding: 0;

}


body{
    font-family: "Onest", sans-serif;
    background-color: #EFEFEF;
    color: #3E6939;
}
a{ 
    text-decoration: none;
    color: #3E6939;  
}

hr{
  border: none;
  border-top: 1px solid #3E6939;
  margin: 20px 0;
}

p{
    margin-bottom: 20px;
}


.all-page {
    position: relative;
    padding: 50px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 30px;


}

.breadcrumb{
    color: #3E6939;
    font-size: 14px;
    font-weight: 350;

}

.title{
    font-family: 'Onest', 'Arial', sans-serif;
    color: #3E6939;
    font-size: 42px;
    font-weight: 350;
    line-height: 1;
    padding-bottom: 30px;
}

.ph-tx{
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
    align-items: flex-start;
}

.book-cover{
    width: 60%; 
    height: auto;
}


h5{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
}

.onetwo{
    margin: 50px;
    display:flex;
    align-items: baseline;
    gap: 25px;
    justify-content: center;
 
}

.onetwo-ph{
    width:45%; 
    height: auto;
}

.threefour{
    display:flex;
    justify-content: space-between;
    padding: 30px;
}

.threefour-ph{
    width:30%; 
    height: auto; 
}

.text1{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    display:flex;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 45%
}

.center{
    display:flex;
    justify-content: center;
    padding: 30px;
}

.center-ph{
    width:60%; 
    height: auto;
}

.complex {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.right{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: baseline;
    gap: 25px;
    width: 50%;
}

.right-ph{
    width: 75%; 
    height: auto;
}

.left-ph{
    width: 40%; 
    height: auto;
    
}

.text2{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    display:flex;
    padding-top: 35px;
    width: 66%;

}

.fifsix{
    margin: 50px;
    display:flex;
    align-items: baseline;
    gap: 25px;
    justify-content: right;
}

.fifsix-ph{
    width:35%;
    height: auto;
}

.text3{
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    display:flex;
    padding-left: 30px;
    padding-bottom: 20px;
    width: 45%
}

.text4 {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    width: 36%;
    margin-left: 35%; 
    padding: 30px;
}

.eigthtwen{
    display:flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    margin: 20px;
}

.eigthtwen-ph{
    width:25%;
    height: auto;
}


@media (max-width: 700px){


.all-page {
    position: relative;
    padding: 30px;

}

.title{
    font-size: 32px;
    font-weight: 350;
    line-height: 1;
    padding-bottom: 30px;
}


.ph-tx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    
}

.book-cover{
    width: 90%;
}

.about{
 font-size: 14px;  
 font-weight: 400;
 weight: 70%; 
}

.onetwo{
    display:flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;

 
}

.onetwo-ph{
    width: 120%;
}

.text1{
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    display:flex;
    padding-left: 0px;
    padding-bottom: 20px;
    width: 100%
}

.threefour{
    display:flex;
    justify-content: space-between;
    gap: 10px;
}

.threefour-ph{
    width: 60%;
}

.center-ph{
    width:110%; 
    height: auto;
}


.left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.complex {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.right-ph{
    width: 100%; 
    height: auto;
}

.left-ph{
    width: 80%; 
    height: auto;
    
}

.text2{
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    display:flex;
    padding-top: 35px;
    width: 100%;
}

.fifsix{
    gap: 10px;
}

.fifsix-ph{
    width:60%;
    height: auto;
}


.eigthtwen-ph{
    width:35%;
    height: auto;
}


.text3{
    font-size: 14px;
    width: 100%;

    font-weight: 300;
    text-align: left;
    display:flex;
    padding-left: 0px;
    padding-bottom: 20px;
}

.text4{
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    width: 100%;
    margin-left: 0%; 
    padding: 0px;
    margin-bottom: 20px;
}

.twenty{
    padding-top: 20px;
}


}