@font-face {
    font-family: "Onest";
    src: url("./fonts/Onest-Regular.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Onest";
    src: url("./fonts/Onest-Regular.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Onest', sans-serif;
    background-color: #EFEFEF;
    color: #3E6939;
}
a{ 
    text-decoration: none;
    color:#3E6939;
}

.novigation{
    padding-bottom: 10px;
}
.main{
    font-size: 16px;
    color: #3E6939;
    font-weight: 300;
}

hr{
  border: none;
  border-top: 1px solid #2B4927;
  margin: 30px 0;
  padding: 0;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common{
    padding: 50px;
}

.annotation{
    width: 70%;
}

.no_link{
    width: 80%;
}

.yes_linl{
text-align: center;
width: 20%;
padding-right: 20px;
padding-left: 20px;

}

.title{
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 13px;
    color: #2B4927;
}

p{
    font-size: 16px;
}

.name{
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 13px;
    color: #2B4927;
}

.arrow{
    width: 70%;
}



@media (max-width: 768px) {

    .main{
        flex-direction: column;
        display: block;
        justify-content: space-between;
        align-items: center;
    }

    p{
        text-align: justify;
        font-size: 12px;
    }
    .no_link{
        width: 100%;
    }

    .common{
        padding: 40px;
    }

    .annotation{
        width: 100%;
    }

    .yes_link{
        padding-top: 20px;
        text-align: right;

    }
.arrow{
    width: 10%;
}
 

    }